<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Disambiguation-Kil'jaeden</title>
  <meta name="description" content="">

  <!-- hi go away pls there's nothing to look at -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="wrapper">
    <a href="/index.html" class="logo"><img src="assets/logo-white.svg"></a>
    <nav class="fancy">
      <h1>Disambiguation - Kil'jaeden Guild</h1>
      <a href="/index.html">Home</a>
      <a href="/recruitment.html">Recruitment</a>
      <a href="/members.html">Raiders</a>
      <a href="#contact">Contact</a>
    </nav>
  </div>
  {{content}}
</body>
</html>
